
<div class="div">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <label class="selectionA"  class="ml-4 mt-3" (click)="sectionAClick()">Click here to upload files</label><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
              <br>
              <div *ngIf = "isSelectionA==true">
                <file-upload></file-upload>
              </div>
              
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <label class="selectionA"  class="ml-4 mt-3" (click)="sectionBClick()">Click here to upload files by providing location name</label><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <br>
                <div *ngIf ="isSelectionB==true">
                  <file-upload-location></file-upload-location>
                </div>
              
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <label class="selectionA"  class="ml-4 mt-3" (click)="sectionCClick()">Click here to query for data</label><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <br>
                <div *ngIf ="isSelectionC==true">
                  <neural_display></neural_display>
                </div>
              
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
      
</div>