<div class="row">
    
    <div class="col-12">
        
        <div class="row mt-3">
           
            <div class="offset-2 col-8">
                
                <div class="table-responsive-sm table-responsive-md ">
                    
                    <label style="font-size: 18px;">Session Details</label>
                    
                    <br>
                    
                    <div class="table-responsive">
                        
                        <table class="table table-bordered">
                            
                            <thead > 
                                
                                <tr>
                                    
                                    <th scope="col">Experimenter Name:
                                        
                                        <br>
                                        
                                        <input type="text" class="form-control mt-1"  [(value)]="experimenterName" [(ngModel)]="experimenterName" >
                                    
                                    </th>
                                   
                                   
                                    <th scope="col">Experiment Start Date (YYYY-MM-DD):  
                                        
                                        <br>
                                        
                                        <input type="text" class="form-control mt-1"   [(value)]="experimentStartDate" [(ngModel)]="experimentStartDate" >
                                    
                                    </th>

                                    <th scope="col">Experiement End Date (YYYY-MM-DD): 
                                        
                                        <br>
                                        
                                        <input type="text" class="form-control mt-1"   [(value)]="experimentEndDate" [(ngModel)]="experimentEndDate" > 
                                    
                                    </th>
                                    
                                    <th>
                                        
                                        <button type="button" class="btn btn-dark" (click)="getSessionData()">Get Details</button>
                                    
                                    </th>
                                
                                </tr>
                                
                                <tr *ngIf ="isExperimenterNameError==true || isExperimentStartDateError==true || isExperimentEndDateError==true ">
                                    
                                    <th *ngIf ="isExperimenterNameError==true">
                                        <label >Experimental Name contains invalid characters</label>
                                    
                                    </th>
                                    
                                    <th *ngIf ="isExperimentStartDateError==true">
                                        
                                        <label >Invalid Start Date Format</label> 
                                    
                                    </th>
                                    
                                    <th *ngIf ="isExperimentEndDateError==true"> 
                                        
                                        <label >Invalid End Date Format</label>
                                    
                                    </th>
                                
                                </tr>
                            
                            </thead>
                        </table>
                    </div>
                    <div class="table-responsive">
                        
                        <table class="table table-bordered">
                                    
                            <thead > 
                                <th>
                                    Animal Date of Birth
                                </th>
                                <th>
                                    Animal Id
                                </th>
                                <th>
                                    Animal Sex
                                </th>
                                <th>
                                    Animal Species
                                </th>
                                <th>
                                    Animal Weight
                                </th>
                                <th>
                                    Experimenter Name
                                </th>
                                <th>
                                    Microscope EX LED Power (mw/mm^2)
                                </th>
                                <th>
                                    Microscope OG LED Power (mw/mm^2)
                                </th>
                                <th>
                                    Sampling Rate (Hz)
                                </th>
                                <th>
                                    Session Id
                                </th>
                                <th>
                                    Recording Start Time
                                </th>
                                <th>
                                    Acquisition SW Version
                                </th>
                            </thead>
                            <tbody *ngFor="let session of sessionList">          
                                
                                <tr>
                                    
                                    <td>{{session.animal_date_of_birth}}</td>
                                    
                                    <td>{{session.animal_id}}</td>
                                    
                                    <td>{{session.animal_sex}}</td>
                                    
                                    <td>{{session.animal_species}}</td>
                                    
                                    <td>{{session.animal_weight}}</td>
                                    
                                    <td>{{session.experimenter_name}}</td>
                                    
                                    <td>{{session.microscope_ex_led_power}}</td>
                                    
                                    <td>{{session.microscope_og_led_power}}</td>
                                    
                                    <td>{{session.sampling_rate}}</td>
                                    
                                    <td>{{session.session_id}}</td>
                                    
                                    <td>{{session.recording_start_time}}</td>
                                    
                                    <td>{{session.acquisition_sw_version}}</td>
                                    
                                   
                                
                                </tr>
                            
                            </tbody>
                        
                        </table>
                    
                    </div>
                
                </div>
            
            </div>
        
        </div>
        
        <div class="row mt-5">
            <div class="offset-2 col-8">

                <label style="font-size: 18px;">Bout Movement</label>
                    
                <br>

                <div class="table-responsive-sm table-responsive-md">

                    <table class="table table-bordered ">

                        <thead > 
                                
                            <tr>

                                <th scope="col">Session_Id:
                                    
                                    <br>

                                    <input type="text" style="width:40%;" class="form-control mt-1"  [(value)]="boutMovementSessionId" [(ngModel)]="boutMovementSessionId" (keyup)="boutMovementSessionIdInput($event)">
                                
                                </th>
                            
                            </tr>
                            
                        </thead>
                        
                    </table>
                    
                </div>
                
                <div class="table-responsive-sm table-responsive-md">
                        
                    <table class="table table-bordered">
                            
                        <thead > 
                                
                            <tr>
                                    
                                <th scope="col"></th>
                                    
                                <th scope="col"> Column 0</th>
                                    
                                <th scope="col"> ... </th>
                                    
                                <th scope="col"> Column 15 </th>
                                    
                                <th scope="col"> ... </th>
                                    
                                <th scope="col"> Column 30 </th>
                                
                            </tr>
                            
                        </thead>
                            
                        <tbody *ngFor="let boutMomentDetails of boutMomentDetailsList let i = index">          
                                
                            <tr *ngIf="i == 0 || i == boutMomentDetailsList.length-1">
                                    
                                <td>Row {{i}}</td>
                                    
                                <td>{{boutMomentDetails[0].frames}}</td>
                                    
                                <td>...</td>
                                   
                                <td>{{boutMomentDetails[15].frames}}</td>
                                    
                                <td>...</td>
                                    
                                <td>{{boutMomentDetails[boutMomentDetails.length-1].frames}}</td>
                                
                            </tr>
                                
                            <tr *ngIf="i == 32">
                                    
                                <td>...</td>
                                    
                                <td>...</td>
                                    
                                <td>...</td>
                                    
                                <td>...</td>
                                    
                                <td>...</td>
                                    
                                <td>...</td>
                                
                            </tr>
                            
                        </tbody>
                        
                    </table>
                    
                </div>
            
            </div>
        
        </div>
        
        <div class="row mt-5 mb-5">
            
            <div class="offset-2 col-8">
                
                <label style="font-size: 18px;">Neural data of first 2 cells and GPIO data</label>
                    
                <br>
                
                <div class="table-responsive-sm table-responsive-md ">
                    
                    <table class="table table-bordered w-20">
                        
                        <thead > 
                            
                            <tr>
                                
                                <th scope="col">Session Id:
                                    
                                    <br>
                                    
                                    <input type="text" style="width:40%;" class="form-control mt-1"  [(value)]="neuralDataSesssionId" [(ngModel)]="neuralDataSesssionId" (keyup)="neuralDataInput($event)">
                                
                                </th>
                            
                            </tr>
                        
                        </thead>
                    
                    </table>
                    
                    <table class="table table-bordered w-20">
                        
                        <tbody *ngFor="let firstTwoCellsNeuralData of firstTwoCellsNeuralDataList let i = index" >          
                            
                            <tr *ngIf="i==0 || i==1">
                                
                                <td>{{firstTwoCellsNeuralData[0].frames}}</td>
                                
                                <td>...</td>
                                
                                <td>{{firstTwoCellsNeuralData[firstTwoCellsNeuralData.length-1].frames}}</td>
                                
                            </tr>
                           
                            <tr *ngIf="i==2">
                                
                                <td>{{firstTwoCellsNeuralData[0].channels}}</td>
                                
                                <td>...</td>
                                
                                <td>{{firstTwoCellsNeuralData[firstTwoCellsNeuralData.length-1].channels}}</td>
                                
                            </tr>
                        
                        </tbody>
                    
                    </table>
                
                </div>
            
            </div>
        
        </div>
    
    </div>

</div>
<ngx-spinner class="__loader" bdColor="rgba(0,0,0,0.9)" size="default" color="#fff" type="ball-scale-pulse"
[fullScreen]="true">
<p style="color: #ffffff"> Loading... </p>
</ngx-spinner>